@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Handsontable */
@import '~handsontable/dist/handsontable.full.css';

/* dhtmlxSpreadsheet */
@import '~dhx-vault/codebase/vault.css';
@import '~dhx-spreadsheet/codebase/spreadsheet.css';

widget-box {
  width: 440px;
  height: 320px;
}

.widget-box-wide {
  width: 800px;
  height: 400px;
}

/* Global styles */

html, body {
  height: 100%;
}

body {
  padding: 30px;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
