<h2>
  Handsontable
</h2>

<hot-table
  [colHeaders]="true"
  [rowHeaders]="true"
  [data]="dataset"
  [colHeaders]="true"
  [rowHeaders]="true">
  <hot-column data="id" [readOnly]="true" title="ID"></hot-column>
  <hot-column data="name" title="Full name"></hot-column>
  <hot-column data="address" title="Street name"></hot-column>
  >
</hot-table>

<p>License: MIT - Community Edition</p>

<p>Limitation: Filters</p>
